<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1>All Events</h1>

    <table class="table table-striped">
        <tr>
            <th>Events</th>
            <th>Description</th>
            <th>Address</th>
            <th>Logo</th>
        </tr>
        <th:block th:each="event : ${events}">
            <tr>
                <td th:text="${event.key}"></td>
                <td th:text="${event.value}"></td>
                <th:block th:if='${event.key.equals("CES")}'>
                    <td th:replace="fragments :: cesAddress"></td>
                </th:block>
                <th:block th:if='${event.key.equals("Hour of Code")}'>
                    <td th:replace="fragments :: hourOfCodeAddress"></td>
                </th:block>
                <th:block th:if='${event.key.equals("Strange Loop")}'>
                    <td th:replace="fragments :: strangeLoopAddress"></td>
                </th:block>
            </tr>
        </th:block>
    </table>

</body>
</html>